{% set ph = page.header %}

{% embed 'partials/journal-header-basic.html.twig' %}
{% endembed %}

<section class="main-content journal-content clearfix">
    <div class="container">
        <div class="journal-item">
            <div class="list-blog-padding">
            {% if page.header.continue_link is sameas(false) %}
                {{ page.content }}
                {% if not truncate %}
                {% set show_prev_next = true %}
                {% endif %}
            {% elseif truncate and page.summary != page.content %}
                {{ page.summary }}
                <p><a href="{{ page.url }}">Continue Reading&hellip;</a></p>
            {% elseif truncate %}
                {% if page.summary != page.content %}
                    {{ page.content|truncate(550) }}
                {% else %}
                    {{ page.content }}
                {% endif %}
                <p><a href="{{ page.url }}">Continue Reading&hellip;</a></p>
            {% else %}
                {{ page.content }}
                {% set show_prev_next = true %}
            {% endif %}
            </div>
        </div>
    </div>
</section>

{% embed 'partials/journal-bar.html.twig' %}
{% endembed %}
