<section class="work-detail-website-primary">
    <div class="work-detail-website-primary-hero">
        <img class="work-detail-website-primary-hero" src="{{ page.media[ph.workdetailwebsiteprimaryhero].url }}" alt="{{ ph.workdetailwebsiteprimaryheroalt }}" />
    </div>

    <div class="row clearfix">
        <div class="col col-4of12">
            <a href="{{ ph.workdetailwebsiteprimaryurl }}" target="_blank">
                <img class="work-detail-website-primary-main-image" src="{{ page.media[ph.workdetailwebsiteprimarycontentmainimage].url }}" alt="{{ ph.workdetailwebsiteprimarycontentmainimagealt }}" />
            <a/>
        </div>
        <div class="col col-8of12 container content">
            <h4>{{ph.workdetailwebsiteprimaryheading}}</h4>
            <p>{{ph.workdetailwebsiteprimarycontent}}</p>
            {% if ph.workdetailwebsiteprimarybutton %}
                <a class="button-link" href="{{ ph.workdetailwebsiteprimaryurl }}"><button class="dark-btn" type="button">{{ ph.workdetailwebsiteprimarybutton }}</button></a>
            {% endif %}
        </div>
    </div>
</section>
