<section class="work-detail-website-secondary">
    <div class="grid flex-grid--gutters">
        <div class="col col--width__four">
            <a href="{{ ph.workdetailwebsitesecondaryurl }}" target="_blank">
                <img class="work-detail-website-secondary-main-image" src="{{ page.media[ph.workdetailwebsitesecondarycontentmainimage].url }}" alt="{{ ph.workdetailwebsitesecondarycontentmainimagealt }}" />
            </a>
        </div>
        <div class="col col--width__eight container content">
            <h4>{{ph.workdetailwebsitesecondaryheading}}</h4>
            <p>{{ph.workdetailwebsitesecondarycontent}}</p>
            {% if ph.workdetailwebsitesecondarybutton %}
                <a class="button-link" href="{{ ph.workdetailwebsitesecondaryurl }}"><button class="dark-btn" type="button">{{ ph.workdetailwebsitesecondarybutton }}</button></a>
            {% endif %}
        </div>
    </div>
</section>
