{% set ph = page.header %}

<div class="tag-widget widget">
    <h6>Project Disciplines</h6>
    <ul class="tag-list">
        {% for tag in page.taxonomy.tag %}
            <li class="tag-list-item">{{ tag }}</li>
        {% endfor %}
    </ul>
</div>

<div class="tool-widget widget">
    <h6>Tools Used</h6>
    <ul class="tool-list">
         {% if ph.tools.ai == true %}
            <li class="tool-list-item">
                <img src="{{ url('theme://images/ai-outline.svg') }}" alt="An icon of the program Adobe Indesign, since it was used for this project." />
            </li>
        {% endif %}
        {% if ph.tools.id == true %}
            <li class="tool-list-item">
                <img src="{{ url('theme://images/id-icon.svg') }}" alt="An icon of the program Adobe Indesign, since it was used for this project." />
            </li>
        {% endif %}
        {% if ph.tools.ps == true %}
            <li class="tool-list-item">
                <img src="{{ url('theme://images/ps-icon.svg') }}" alt="An icon of the program Adobe Indesign, since it was used for this project." />
            </li>
        {% endif %}
        {% if ph.tools.html == true %}
            <li class="tool-list-item html">
                <img src="{{ url('theme://images/html-icon.svg') }}" alt="An icon of the program Adobe Indesign, since it was used for this project." />
            </li>
        {% endif %}
        {% if ph.tools.css == true %}
            <li class="tool-list-item css">
                <img src="{{ url('theme://images/css3.svg') }}" alt="An icon of the program Adobe Indesign, since it was used for this project." />
            </li>
        {% endif %}
        {% if ph.tools.js == true %}
            <li class="tool-list-item js">
                <img src="{{ url('theme://images/js-icon.svg') }}" alt="An icon of the program Adobe Indesign, since it was used for this project." />
            </li>
        {% endif %}
        
    </ul>
</div>