<section class="work-detail-website-last">
    <div class="row clearfix">
        <div class="col col-4of12">
            <a href="{{ ph.workdetailwebsitelasturl }}" target="_blank">
                <img class="work-detail-website-last-main-image" src="{{ page.media[ph.workdetailwebsitelastcontentmainimage].url }}" alt="{{ ph.workdetailwebsitelastcontentmainimagealt }}" />
            <a/>
        </div>
        <div class="col col-8of12 container content mobile-pad-cont">
            <h4>{{ph.workdetailwebsitelastheading}}</h4>
            <p>{{ph.workdetailwebsitelastcontent}}</p>
            {% if ph.workdetailwebsitelastbutton %}
                <a class="button-link" href="{{ ph.workdetailwebsitelasturl }}"><button class="dark-btn" type="button">{{ ph.workdetailwebsitelastbutton }}</button></a>
            {% endif %}
        </div>
    </div>
</section>
