<section class="work-detail-iconography dark-bg u-pad">
    <div class="container">
        <div class="grid flex-grid--gutters mobile-pad-cont">
            <div class="col col--width__six">
                <h4 class="text-white">{{ph.workdetailiconographyheading}}</h4>
                <p class="text-white">{{ph.workdetailiconographycontent}}</p>
                {% if ph.workdetailiconographybutton %}
                    <a class="button-link" href="{{ ph.workdetailiconographyurl }}"><button type="button">{{ ph.workdetailiconographybutton }}</button></a>
                {% endif %}
            </div>
            <div class="col col--width__six">
                <ul class="icon-list">
                    {% for icons in ph.workdetailiconographyicons %}
                    <li class="icon-circle">
                        <img src="{{ page.media[icons.iconimage].url }}" alt="{{ icons.iconimagealt }}" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
