{% embed 'partials/base.html.twig' %}

{% set ph = page.header %}

{% block content %}
<section class="main-content work-gallery">
    <div class="row clearfix grid-thirds">

        {% if ph.heading %}
        <div class="col-8of12 col">
            <div class="container u-pad mobile-pad-cont">
                <h1 class="h3 text-white">{{ ph.heading }}</h1>
                <div class="text-white">
                    {{ page.content }}
                </div>
            </div>
        </div>
        {% endif %}

        {% for p in page.find('/work-detail').children.order('header.order', 'desc') if p != page %}
            <div class="col-4of12 col work-image-box {{ p.header.datacategoryone }} {{ p.header.datacategorytwo }} {{ p.header.datacategorythree }} {{ p.header.datacategoryfour }}" style="background-image: url( {{ p.media[p.header.homepagepreview].url }} )">
                <a class="work-link" href="{{ p.url }}">
                    <div class="work-cell">
                        <div class="work-content-box">
                            <div class="work-content">
                                <h4 class="work-heading">{{ p.title }}</h4>
                                <p class="desktop-teaser">{{ p.header.homepageteaser }}</p>
                                <p class="mobile-teaser">{{ p.header.homepageteaser|slice(0, 100) }}…</p>

                                {% if p.header.homepagebutton == true %}
                                    <a class="button-link" href="{{ p.url }}"><button class="u-center" type="button">{{ p.header.homepagebuttontext }}</button></a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
<script>
    $('html').addClass('dark-bg');
</script>
{% endblock %}


{% endembed %}
